<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: formatting"></head>
<body class="container" >

<h1>Create Event</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" action="/events/create">
    <div class="form-group">
        <label>Name
            <input th:field="${event.name}"  class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${event.description}"  class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Event Type
            <select th:field="${event.eventType}">
                <option th:each="eventType : ${eventTypes}"
                        th:value="${eventType}"
                        th:text="${eventType.getDisplayType()}"
                ></option>
            </select>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create Event" class="btn btn-success">
    </div>
</form>

</body>
</html>
