<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: formatting"></head>
<body class="container" >

<h1>All Events</h1>
<p>display all page events/index (Event controller)</p>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No Events Listed!</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Event Type</th>
        </tr>
    </thead>
    <tr th:each= "event : ${events}">
        <td th:text= "${event.id}"></td>
        <td th:text= "${event.name}"></td>
        <td th:text= "${event.description}"></td>
        <td th:text="${event.eventType.getDisplayType()}"></td>
        <td>
            <a th:href="@{/events/edit/{id}(id=${event.id})}" class="btn btn-success">Edit</a>
        </td>
        <td>
            <a th:href="@{/events/delete/{id}(id=${event.id})}" th:action="post" class="btn btn-danger">Delete</a>
        </td>

    </tr>
</table>

</body>
</html>
