<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="formatting">
    <meta charset="UTF-8"/>
    <title>Coding Events</title>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!--    <script th:src="@{/script.js}"></script>-->
<!--    <link th:href="@{/styles.css}" rel="stylesheet"/>-->

</head>
<body>

<nav th:fragment="navigation">
    <ul class="nav">
<!--        <li><a href="/templates/index">Home</a> </li>-->
        <li class="nav-item"><a class="nav-link" href="/events">All Events</a> </li>
        <li class="nav-item"><a class="nav-link" href="/events/create">Create Event</a> </li>
        <li class="nav-item"><a class="nav-link" href="/events/delete">Remove Events</a> </li>
        <li class="nav-item"><a class="nav-link" href="/events/edit_step_2">Edit Events</a> </li>
    </ul>
</nav>

</body>
</html>
